<footer class="row container justify-content-between row-gap-4">

    <div class="colWrapper col-12 col-sm-6 col-md-3 col-lg-2 me-md-5" id="firstCol">
        <h4>Exclusive</h4>
        <h6>Subscribe</h6>
        <p>Get 10% off your first order</p>
        <input type="text" placeholder="Enter your email">
    </div>

    <div class="colWrapper col-12 col-sm-6 col-md-3 col-lg-2 me-md-5">
        <h4>Support</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p>Exclusive&#64;gmail.com</p>
        <p>+888843-434343-65465</p>
    </div>

    <div class="colWrapper col-12 col-sm-6 col-md-3 col-lg-2 links">
        <h4>Account</h4>
        <p>My Account</p>
        <p>Login / Register</p>
        <p>Cart</p>
        <p>Whislist</p>
        <p>Shop</p>
    </div>


    <div class="colWrapper col-12 col-sm-6 col-md-3 col-lg-2 links quick">
        <h4>Quick Link</h4>
        <p>Privacy Policy</p>
        <p>Terms Of Use</p>
        <p>FAQ</p>
        <p>Contact</p>
    </div>

    <div class="colWrapper col-12 col-sm-6 col-md-9 col-lg-3">
        <h4>Download App</h4>
        <p id="lastRow">Save $3 with App New User Only</p>

        <div class="imgsWrapper">
            <div class="leftImg">
                <img src="/assets/images/Home Page/General images/qr.jpg" alt="">
            </div>
            <div class="rightImgs">
                <img src="/assets/images/Home Page/General images/google.jpg" alt="">
                <img src="/assets/images/Home Page/General images/appstore.jpg" alt="">
                <img src="" alt="">
            </div>
        </div>

        <div class="iconsWrapper">
            <i class="fa-brands fa-facebook-f" style="color: #ffffff;"></i>
            <i class="fa-brands fa-twitter" style="color: #ffffff;"></i>
            <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
            <i class="fa-brands fa-linkedin-in" style="color: #ffffff;"></i>
        </div>
    </div>

    <p id="copyrights">&copy; Copyright Rimel 2022. All right reserved</p>
</footer>