<!-- <app-navbar></app-navbar> -->

<div class="checkoutWrapper container-lg">

    <div class="location">
        <p><span>Account &nbsp; / &nbsp; My Account &nbsp; / &nbsp; Product &nbsp; / &nbsp; View Cart &nbsp; / &nbsp;
            </span> CheckOut</p>
    </div>

    <h2>Billing Details</h2>

    <div class="billingDetailsWrapper">

        <div class="formWrapper">
            <form action="" [formGroup]="form">

                <div class="inputWrapper">
                    <label for="name">First Name <span>*</span></label>
                    <input type="text" id="name" formControlName="fName">
                </div>

                <div class="inputWrapper">
                    <label for="company">Company Name</label>
                    <input type="text" id="company">
                </div>

                <div class="inputWrapper">
                    <label for="address">Street Address <span>*</span></label>
                    <input type="text" id="address" formControlName="sAddress">
                </div>

                <div class="inputWrapper">
                    <label for="apartment">Apartment,floor,etc. (optional)</label>
                    <input type="text" id="apartment">
                </div>

                <div class="inputWrapper">
                    <label for="city">Town/City <span>*</span></label>
                    <input type="text" id="city" formControlName="city">
                </div>

                <div class="inputWrapper">
                    <label for="phone">Phone Number <span>*</span></label>
                    <input type="text" id="phone" formControlName="phone">
                </div>

                <div class="inputWrapper">
                    <label for="email">Email Address <span>*</span></label>
                    <input type="text" id="email" formControlName="email">
                </div>

                <div class="checkWrapper">
                    <input type="checkbox" id="check">
                    <label for="check">Save this information for faster check-out next time</label>
                </div>

            </form>

        </div>

        <div class="productsDetails">

            <div class="productsList">
                <div class="procuctsContainer" *ngFor="let product of cartProducts">

                    <div class="product">

                        <div class="productImgTitle">
                            <img [src]="product.img" alt="" width="55px">
                            <h6>{{product.title}}</h6>
                        </div>

                        <p class="price col-price">${{product.price}}</p>

                    </div>

                </div>
            </div>

            <div class="totalWrapper">

                <div class="totalItem">
                    <p>Subtotal:</p>
                    <p>${{cartTotalCost}}</p>
                </div>

                <div class="divider"></div>

                <div class="totalItem mt-3">
                    <p>Shipping:</p>
                    <p>$0</p>
                </div>

                <div class="divider"></div>

                <div class="totalItem mt-3">
                    <p>Total:</p>
                    <p>${{cartTotalCost}}</p>
                </div>
            </div>

            <div class="payMethod">

                <div class="bankWrapper">

                    <div class="radioWrapper">
                        <input type="radio" id="bank" name="payment">
                        <label for="bank">Bank</label>
                    </div>

                    <div class="bankImgs">
                        <img src="/assets/images/CheckOut Page/41762e31-33c4-488f-8f8b-dac1497340ad.jpg" alt=""
                            style="width: 25px;">
                        <img src="/assets/images/CheckOut Page/985d40a1-3b1d-4242-bfd9-d1861b70a153.jpg" alt=""
                            style="width: 25px;">
                        <img src="/assets/images/CheckOut Page/c0a3d4d8-47c7-43e3-a6a8-40611a36c619.jpg" alt=""
                            style="width: 25px;">
                        <img src="/assets/images/CheckOut Page/d0ee130c-17a0-4867-ae3b-008d99f0b4b6.jpg" alt=""
                            style="width: 25px;">
                    </div>
                </div>

                <div class="cash">
                    <div class="radioWrapper">
                        <input type="radio" id="cash" name="payment">
                        <label for="cash">Cash on Delivery</label>
                    </div>
                </div>

            </div>

            <div class="couponWrapper">
                <input type="text" placeholder="Coupon Code">
                <button><span>Apply Coupon</span></button>
            </div>

            <button id="placeOrder" (click)="formSubmit()">Place Order</button>

        </div>
    </div>
</div>



<!-- <app-footer></app-footer> -->