.card{
    border: none;
    position: relative;
}

.card p.discount{
    position: absolute;
    border-radius: 5px;
    left: 10px;
    top: 10px;
    background-color: #db4444;
    font-size: 10px;
    padding: 2px 6px;
    color: white;
}

.card button.eye{
    border: none;
    position: absolute;
    border-radius: 50%;
    right: 5px;
    top: 45px;
    background-color: white;
    padding: 1px 4px;
}

.card button.addWhishlist{
    border: none;
    position: absolute;
    border-radius: 50%;
    right: 5px;
    top: 10px;
    background-color: white;
    padding: 1px 4px;
}

.card button.addCart{
    opacity: 0;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 12px;
    transition: 0.4s all ease-in-out;
    padding-top:5px;
    padding-bottom:5px;
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;

}


.card:hover button.addCart{
    opacity: 100%;
    transform: translateY(0);
}

.card-body .priceWrapper{
    display: flex;
    gap: 10px;
}

.card-body .priceWrapper p{
    font-size: 14px;
}

.card-body .priceWrapper p.card-text{
    color: #e16464;
    font-weight: 700;
}

.card-body .priceWrapper p.priceBefore{
    text-decoration: line-through;
    color:#979797;
    opacity: 50%;
    font-weight: 700;
}

.card-body h4{
    font-size: 14px;
    font-weight: 700;
    margin-top: 1rem;
}

.card img{
    height: 28vh;
    /* padding: 10px; */
    background-color: #f5f5f5;;
}

.card-body .reviews {
    display: flex;
    gap: 10px;
    
}
.card-body .reviews .reviewsCount p{
    font-size: 12px;
    margin-top: -0.7rem;
    font-weight: 700;
}
.card-body .reviews i {
    font-size: 10px;
}
.card-body .reviews .stars {
    margin-top: -0.5rem;
    display: flex;
    gap: 5px;
}