.card{
    border: none;
    position: relative;
}

.card p.discount{
    position: absolute;
    border-radius: 5px;
    left: 10px;
    top: 10px;
    background-color: #db4444;
    font-size: 10px;
    padding: 2px 6px;
    color: white;
}

.card button.eye{
    border: none;
    position: absolute;
    border-radius: 50%;
    right: 10px;
    top: 55px;
    background-color: white;
    padding: 3px 7px;
}

.card button.addWhishlist{
    border: none;
    position: absolute;
    border-radius: 50%;
    right: 10px;
    top: 15px;
    background-color: white;
    padding: 3px 7px;
}

.card button.addCart{
    display: none;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 12px;
    transition: 0.3s all ease-in-out;
    padding-top:5px;
    padding-bottom:5px;
}


.card:hover button.addCart{
    display: block;
}

.card-body .priceWrapper{
    display: flex;
    gap: 10px;
}

.card-body .priceWrapper p{
    font-size: 14px;
}

.card-body .priceWrapper p.card-text{
    color: #e16464;
}

.card-body .priceWrapper p.priceBefore{
    text-decoration: line-through;
    color:#979797;
    opacity: 50%;
}

.card-body h4{
    font-size: 14px;
    font-weight: 700;
    margin-top: 1rem;
}

.card img{
    height: 28vh;
    /* padding: 10px; */
    background-color: #f5f5f5;;
}
