<nav>
    <div class="saleSection ">


        <p class="saleP">Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%! <span>ShopNow</span>
        </p>

        <div class="dropdown languageSwitch">

            <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                English
            </button>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Arabic</a></li>
            </ul>
        </div>


    </div>


</nav>
<div class="mainNav">

    <div class="container-md" id="navContainer">

        <p class="Logo col-lg-2" (click)="homeNavigate()">Exclusive</p>
        <div class="links col-lg-5 col-md-7 d-none d-lg-flex ms-5">

            <ul id="linkList">
                <li class="active" id="link1" (click)="homeNavigate()">Home</li>
                <li id="link2">Contact</li>
                <li id="link3" (click)="aboutNavigate()">About</li>
                <li id="link4" (click)="signUpNavigate()">Sign Up</li>
            </ul>

        </div>


        <div class="searchBar col-lg-2 ms-xxl-4 d-none d-lg-flex" style="position: relative;">
            <input type="search" placeholder="What are you looking for?" [(ngModel)]="searchTerm"
                (ngModelChange)="searching()" (keyup.enter)="searching()" (keyup.escape)="clearSearch()"
                autocomplete="off" />
            <i class="fa-solid fa-magnifying-glass fa-2xs"></i>

            <div class="searchDropdown" *ngIf="serarchingArray.length > 0">
                <ul>
                    <li *ngFor="let product of serarchingArray | slice:0:6" (click)="navigateToProduct(product.id)">
                        <img [src]="product.mainImage" [alt]="product.title" />
                        <div class="searchItemInfo">
                            <span class="searchItemTitle">{{ product.title }}</span>
                            <span class="searchItemPrice">${{ product.price }}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="wishCartDropWrapper ">

            <div class="wishCart col-lg-1" id="wishCart">
                <i class="fa-regular fa-heart d-none d-sm-flex" (click)="wishNavigate()"></i>
                <p class="wishNumber d-none d-sm-flex" id='wishNumber' (click)="wishNavigate()">{{wishCounter}}</p>
                <p class="cartNumber d-none d-sm-flex" id='cartNumber' (click)="cartNavigate()">{{cartCounter}}</p>
                <i class="fa-solid fa-cart-shopping d-none d-sm-flex" (click)="cartNavigate()"></i>
                <i class="fa-solid fa-user " (click)="toggleDropdown()" style="color: #000000;"></i>


                <ul class="profile-dropdown" [class.show]="showDropdown">
                    <li (click)="onItemClick('/profile')">Profile</li>
                    <li (click)="onItemClick('/orders')">Orders</li>
                    <li (click)="logoutAndClose()">Logout</li>
                </ul>
            </div>

            <div class="dropdown d-lg-none ms-auto ">
                <button class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end  ">
                    <li><a class="dropdown-item d-lg-none" href="#">Home</a></li>
                    <li><a class="dropdown-item d-lg-none" href="#">Shop</a></li>
                    <li><a class="dropdown-item d-lg-none" href="#">About</a></li>
                    <li><a class="dropdown-item d-lg-none" href="#">Contact</a></li>
                    <li (click)="signUpNavigate()"><a class="dropdown-item d-lg-none">Sign Up</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li style="position: relative;">
                        <input type="search" placeholder="What are you looking for?" [(ngModel)]="searchTerm"
                            (ngModelChange)="searching()" (keyup.enter)="searching()" (keyup.escape)="clearSearch()"
                            autocomplete="off" />
                        <i class="fa-solid fa-magnifying-glass fa-2xs"></i>

                        <div class="searchDropdown" *ngIf="serarchingArray.length > 0">
                            <ul>
                                <li *ngFor="let product of serarchingArray | slice:0:6"
                                    (click)="navigateToProduct(product.id)">
                                    <img [src]="product.mainImage" [alt]="product.title" />
                                    <div class="searchItemInfo">
                                        <span class="searchItemTitle">{{ product.title }}</span>
                                        <span class="searchItemPrice">${{ product.price }}</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <div class="wishCartInDropWrapper">
                        <i class="fa-regular fa-heart d-sm-none" (click)="wishNavigate()"></i>
                        <p class="wishNumber d-sm-none" id='wishNumber' (click)="wishNavigate()">{{wishCounter}}</p>
                        <i class="fa-solid fa-cart-shopping d-sm-none" (click)="cartNavigate()"></i>
                        <p class="cartNumber d-sm-none" id='cartNumber' (click)="cartNavigate()">{{cartCounter}}
                        </p>
                        <!-- <i class="fa-solid fa-user d-sm-none" (click)="toggleDropdown()" style="color: #000000;"></i> -->
                    </div>

                </ul>
            </div>
        </div>

    </div>
</div>