/* Sale section */


.saleSection {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: black;
    /* width: 100vw; */
    display: flex;
    justify-content:flex-start;
    align-items: center;
    /* gap: -20rem; */
    /* position: relative; */
    /* margin-left: calc(-50vw + 50%); */
    /* position: relative; */
    /* left: 50%; */
    /* right: 50%; */
    /* margin-left: 10vw; */
    
    width:100%;
    
   
}


.saleSection .saleP {
    /* margin: 0; */
    /* text-align: center; */
    margin: 0 auto;
}

.saleSection p {
    color: white;
    font-weight: 200;
    text-align: center;
    font-size: 14px;
}

.saleSection p span{
    font-weight: 700;
    text-decoration: underline;
    margin-left: 0.5rem;
}


.saleSection .languageSwitch {
    /* position: absolute; */
    right: 10vw;
    /* margin-right: 10rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    /* margin-left: auto; */
    
}
.saleSection .languageSwitch button{
    background-color:black;
    color:white;
    border: none;
    font-size: 14px;
    font-weight: 200;
}

.saleSection .languageSwitch i{
    font-size: 12px;
}


/* Main nav */

.mainNav{
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
}

.mainNav .container{
    display: flex;
    align-items: center;
    padding-top: 2rem ;
    padding-bottom: 0.3rem;
    /* justify-content: space-between; */
    
    
}


.mainNav p.Logo{
    font-size: 26px;
    font-weight: 700;
    cursor: pointer;

}

.mainNav .links ul {
    display: flex;
    justify-content:center;
    gap: 2.5rem;
    /* margin-left: 10rem; */
}

.mainNav .links ul li{
    list-style: none;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.mainNav .links ul li:hover{
    color: #808080;
}


.mainNav .links ul li.inactive{
    border-bottom: none;
}

.mainNav .links ul li.active{
    border-bottom: 1px solid #808080;
}

.mainNav .searchBar{
    margin-top: -10px;
    position: relative;
    display: inline-block;
}

.mainNav .searchBar i{
    position: absolute;
    left: 13.3rem;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    font-size: 16px;
}

.mainNav .searchBar input{
    border-radius: 5px;
    padding: 6px 10px;
    background-color: #f5f5f5;
    border-color: transparent;
}

.mainNav .searchBar input::placeholder{
    font-size: 12px;

}

.mainNav .wishCart{
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    gap: 1.5rem;
    margin-left: 6rem;
    margin-top: -10px;
}
.mainNav .wishCart i{
    color: black;
    font-size: 22px;
    cursor: pointer;
}

.mainNav .dropdown{
    margin-top: -0.5rem;
}


/* Media query */





@media only screen and (max-width:991px){
    .saleSection .languageSwitch {
        right: 0rem;
    }
    .saleSection .saleP {
        max-width: 50%;

    }

    .mainNav .container{
        justify-content: space-between;
    }

    .mainNav .Logo {
        flex: 1;
        text-align: left;
    }

    .mainNav .wishCart {
        flex: 1;
        justify-content: center;
        gap: 3rem;
        margin-left: 2rem;
    }

    .mainNav .dropdown {
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }
}

