<nav>
    <div class="saleSection">
        <div class="left-space"></div>

        <p class="saleP">Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%! <span>ShopNow</span></p>

        <div class="dropdown languageSwitch">

            <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                English
            </button>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Arabic</a></li>
            </ul>

        </div>
    </div>

    <div class="test">


        <div class="mainNav">

            <div class="container">

                <p class="Logo col-lg-2">Exclusive</p>

                <div class="links col-lg-5">

                    <ul>
                        <li class="active">Home</li>
                        <li>Contact</li>
                        <li>About</li>
                        <li>Sign Up</li>
                    </ul>

                </div>

                <div class="searchBar col-lg-2 ms-4">
                    <input type="search" placeholder="What are you looking for?" />
                    <i class="fa-solid fa-magnifying-glass fa-2xs"></i>
                </div>

                <div class="wishCart col-lg-3">
                    <i class="fa-regular fa-heart"></i>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>

            </div>

        </div>

    </div>
</nav>