<nav>
    <div class="saleSection ">


        <p class="saleP">Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%! <span>ShopNow</span>
        </p>

        <div class="dropdown languageSwitch">

            <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                English
            </button>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Arabic</a></li>
            </ul>
        </div>


    </div>





    <div class="mainNav">

        <div class="container">

            <p class="Logo col-lg-2">Exclusive</p>

            <div class="links col-lg-5">

                <ul class="d-none d-lg-flex">
                    <li class="active">Home</li>
                    <li>Contact</li>
                    <li>About</li>
                    <li>Sign Up</li>
                </ul>

            </div>

            <div class="searchBar col-lg-2 ms-4 d-none d-lg-flex">
                <input type="search" placeholder="What are you looking for?" />
                <i class="fa-solid fa-magnifying-glass fa-2xs"></i>
            </div>

            <div class="wishCart col-lg-1">
                <i class="fa-regular fa-heart"></i>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>

            <div class="dropdown d-lg-none ms-auto">
                <button class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Home</a></li>
                    <li><a class="dropdown-item" href="#">Shop</a></li>
                    <li><a class="dropdown-item" href="#">About</a></li>
                    <li><a class="dropdown-item" href="#">Contact</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><input class="form-control" type="search" placeholder="Search..." /></li>
                </ul>
            </div>

        </div>

    </div>


</nav>