<div class="productDetailsWrapper container-lg">
    <p id="location"><span>Account &nbsp; / &nbsp; {{category}} &nbsp; / &nbsp;</span> {{productName}}</p>

    <div class="mainDetails row">

        <div class="productImagesWrapper col ">

            <div class="thumbnails" #thumbnails *ngIf="product">
                <img *ngFor="let img of product.moreImages" [src]="img" (click)="selectImage(img)"
                    [class.active]="img === selectedImage" />
            </div>


            <div class="mainImage">
                <img [src]="mainImage" [alt]="productName" />
            </div>

        </div>

        <div class="productTextWrapper col ">

            <div class="productDetails">
                <h2>{{productName}}</h2>
            </div>

            <div class="reviews">

                <div class="stars">
                    @for (star of starsArray ; track $index) {
                    <i class="fa-solid fa-star" style="color: #ffad33;"></i>
                    }
                    @for (star of emptyStarsArray ; track $index) {
                    <i class="fa-solid fa-star" style="color: #bfbfbf;"></i>
                    }
                </div>
                <div class="reviewsCount">
                    <p style="color: #bfbfbf;">( {{ratingsNum}} )</p>
                </div>
                <p id="stock">In Stock</p>
            </div>

            <div class="productPrice">
                <p id="price">{{price | currency:'USD'}}</p>
            </div>

            <div class="productDescription">
                <p>{{description}}</p>
            </div>

            <div class="divider mt-3"></div>

            <div class="colors">
                <p id="text" class="me-3">Colours:</p>
                <p id="blue" [ngClass]="{'active' : colorActvie === 'blue'  }" (click)="selectColor('blue')"></p>
                <p id="red" [ngClass]="{'active' : colorActvie === 'red'  }" (click)="selectColor('red')"></p>
            </div>

            <div class="size">
                <p class="me-2">Size:</p>
                <p class="sizeSquare" [ngClass]="{'active': sizeActive === 'XS'}" (click)="selectSize('XS')">XS</p>
                <p class="sizeSquare" [ngClass]="{'active': sizeActive === 'S'}" (click)="selectSize('S')">S</p>
                <p class="sizeSquare" [ngClass]="{'active': sizeActive === 'M'}" (click)="selectSize('M')">M</p>
                <p class="sizeSquare" [ngClass]="{'active': sizeActive === 'L'}" (click)="selectSize('L')">L</p>
                <p class="sizeSquare" [ngClass]="{'active': sizeActive === 'XL'}" (click)="selectSize('XL')">XL</p>
            </div>

            <div class="quantityBuyWrapper">

                <div class="quantity mt-2">
                    <button class="decrease" (click)="decrement()">-</button>
                    <span class="quantityNumber">{{ quantity }}</span>
                    <button class="increase" (click)="increment()">+</button>
                </div>

                <button id="buyBtn" (click)="addCartHandler()"><span>Buy Now</span></button>

                <span id="wishList" (click)="addToWishlist()" [ngClass]="{'active' : addedToWishlist ===true}"><i
                        class="fa-regular fa-heart"></i></span>
            </div>

            <div class="info">
                <div class="freeDelivery">

                    <i class="fa-solid fa-truck-fast" style="color: rgb(0, 0, 0);"></i>

                    <div class="freeText">
                        <h6>Free Delivery</h6>
                        <span>Enter your postal code for Delivery Availability</span>
                    </div>

                </div>

                <div class="splitter"></div>

                <div class="returnDelivery">

                    <i class="fa-solid fa-arrows-rotate" style="color: rgb(0, 0, 0);"></i>

                    <div class="returnText">
                        <h6>Return Delivery</h6>
                        <span>Free 30 Days Delivery Returns. <span>Details</span></span>
                    </div>

                </div>
            </div>

        </div>

    </div>


    <div class="relatedItems">

        <div class="headerArrowsWrapper">

            <div class="relatedItemsHeader">
                <p class="shape"></p>
                <h6>Related Items</h6>
            </div>

            <div class="arrows">
                <button id="leftButton"><i class="fa-solid fa-arrow-left" style="color: #000000;"></i></button>
                <button id="rightButton"><i class="fa-solid fa-arrow-right" style="color: #000000;"></i></button>
            </div>
        </div>

        <div class="product-container container " id="productsContainer">
            <app-product-card *ngFor="let item of relatedProducts | slice:0:5" [product]="item">
            </app-product-card>

        </div>
    </div>

</div>