<app-navbar></app-navbar>

<div class="loginWrapper">

    <div class="imgWrapper">
        <img src="/assets/images/login and signup/67b2c7d6-0137-4420-bbe2-c2d2c844dc4a.jpg" alt="">
    </div>

    <div class="formWrapper ">
        <h1>Login to Exclusive</h1>
        <p>Enter your details below</p>
        <form action="">
            <input type="text" name="" id="" placeholder="Email or Phone Number">
            <div class="passwordWrapper">
                <input type="password" name="" id="passwordInput" placeholder="Password">
                <i class="fa-solid fa-eye " style="color: #847171;" (click)="togglePassword()"></i>
            </div>
        </form>
        <button class="loginBtn">Log in</button>
        <p id="forgetPassword">Forget Password ?</p>
    </div>
</div>

<app-footer></app-footer>