.loginWrapper {
    margin-top: 5rem;
    margin-bottom: 7rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 5rem;
}

.loginWrapper .imgWrapper img{
    height: 600px;
}

.loginWrapper .formWrapper{
    /* margin-right: 5rem; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.loginWrapper .formWrapper h1{
    letter-spacing: 1px;
    font-weight: 700;
}


.loginWrapper .formWrapper form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.loginWrapper .formWrapper form .passwordWrapper{
    position: relative;
}

.loginWrapper .formWrapper form .passwordWrapper input{
    width: 100%;
}

.loginWrapper .formWrapper form .passwordWrapper i{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.loginWrapper .formWrapper form .passwordWrapper i:active{
    transform: scale(0.95);
    opacity: 80%;
}

.loginWrapper .formWrapper form input{
    border: none;
    border-bottom: #cfcfcf 2px solid;
    transition: all ease-in-out 0.3s;
}

.loginWrapper .formWrapper form input::placeholder{
    font-size: 12px;
    opacity: 80%;
}


.loginWrapper .formWrapper button.loginBtn{
    border: none;
    background-color: #db4444;
    color: white;
    padding: 0.7rem 3rem;
    font-size: 16px;
    border-radius: 3px;
    transition: all ease-in-out 0.3s;
}

.loginWrapper .formWrapper button.loginBtn:hover{
    transform: scale(1.04);
}

.loginWrapper .formWrapper p#noAcc{
    text-align: center;
    font-size: 16px;
    margin-top: -1rem;
    text-decoration: underline;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    color: #4d4d4d;
}


.loginWrapper .formWrapper p#forgetPassword{
    text-align: center;
    font-size: 16px;
    color: #e98e8e;
    cursor: pointer;
}


.loginWrapper .formWrapper form input:focus{
    background-color: #f6f6f6;
    padding: 0.4rem;
    outline: none;
}

.loginWrapper .formWrapper form .passwordWrapper:focus-within i{
    top: 13px;
}

.loginWrapper .formWrapper form .buttonsWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.loginWrapper .formWrapper form .buttonsWrapper button{
    width: 100%;
}





/* Media query */

@media only screen and (max-width:1200px) {
    .loginWrapper {
        justify-content: flex-start;
        gap: 5rem;
        margin-right: 0;
    }
    
    .loginWrapper .imgWrapper img {
        height: auto;
        width: 500px;
    }
    
}

@media only screen and (max-width:992px) {
    .loginWrapper .imgWrapper img {
        height: auto;
        width: 450px;
    }
    .loginWrapper .formWrapper h1{
        font-size: 28px;
    }
    .loginWrapper .formWrapper{
        gap: 0.6rem;
    }
 
    .loginWrapper .formWrapper button.loginBtn{
        padding: 0.5rem 2rem;
        font-size: 14px;
    }
    .loginWrapper {
        gap: 3rem;
    }
    
}
@media only screen and (max-width:768px) {
    .loginWrapper{
        flex-direction: column;
        margin-top: 1rem;
    }

    .loginWrapper .imgWrapper img{
        width: 100vw;
        height: 280px;
        object-fit: cover;
        border-radius: 5px;
    }

    .loginWrapper .formWrapper{
        width: 90vw;
        padding: 2rem ;
    }
    .loginWrapper .formWrapper h1,
    .loginWrapper .formWrapper p{
        text-align: center;
    }
}