<app-navbar></app-navbar>

<div class="cartWrapper container">

    <div class="location">
        <p><span>Home &nbsp; / &nbsp; </span> Cart</p>
    </div>

    <div class="headers">
        <p>Product</p>
        <p>Price</p>
        <p>Quantity</p>
        <p>Subtotal</p>
    </div>

    <div class="procuctsContainer">

        <div class="product">

            <div class="productImgTitle">
                <img src="/assets/images/Products/1.png" alt="" width="75px">
                <h6>Test Product</h6>
            </div>

            <p class="price">$500</p>

            <div class="quantity">01</div>

            <p class="subtotal">$500</p>

        </div>

    </div>

</div>


<app-footer></app-footer>