/* Generals */

.col-product{ 
    flex: 0.9; 
}
.col-price{ 
    flex: 1; 
}
.col-quantity{ 
    flex: 1; 
}
.col-subtotal{
    flex: 1; 
}

.headers :not(.col-product){
    display: flex;
    justify-content: center;
}

.procuctsContainer :not(.col-product){
    display: flex;
    justify-content: center;
}


.cartWrapper{
    margin-top:5rem;
    margin-bottom: 5rem;
}

.cartWrapper .location p span{
    color: #b9b9b9;
}

.cartWrapper .headers p{
    font-weight: 500;
    color: #333;
    text-align: center;
    margin: 0;
}

.cartWrapper .headers{
    margin-top: 5rem;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    
    /* display: grid;
    grid-template-columns: 2.5fr  1fr  1fr  1fr;
    gap: 18rem; 
    align-items: center; */

    padding: 20px 35px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    min-width: 900px;
}

.cartWrapper .procuctsContainer .product p,
.cartWrapper .procuctsContainer .product h6{
    margin: 0;
    text-align: center;
}    

.cartWrapper .procuctsContainer .product{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* display: grid;
    grid-template-columns: 2.5fr  1fr  1fr  1fr;
    gap: 18rem;
    align-items: center; */
    min-width: 900px;
    margin-top: 2rem;
    padding: 20px 35px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.cartWrapper .procuctsContainer .product .productImgTitle{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 1rem;
    
}

.cartWrapper .procuctsContainer .product .col-quantity .quantityWrapper{
    padding: 10px;
    border: 2px #999999 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 4px;
}
.cartWrapper .procuctsContainer .product .col-quantity .quantityArrows{
    display: flex;
    flex-direction: column;
    /* gap:-10px; */
}
.cartWrapper .procuctsContainer .product .col-quantity .quantityArrows i{
    font-size: 12px;
    cursor: pointer;
}


.cartWrapper .cartBtns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.cartWrapper .cartBtns button span{
    position: relative;
    z-index: 1;
}

.cartWrapper .cartBtns button{
    width: 225px;
    height: 60px;
    color: black;
    background-color: white;
    border: 1px solid #848484;
    font-weight: 600;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.cartWrapper .cartBtns button::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: #db4444;
    z-index: 0;
    transition: all 0.3s ease-in-out;
}

.cartWrapper .cartBtns button:hover{
    color: white;
}

.cartWrapper .cartBtns button:hover::before{
    height: 100%;
    z-index: 0;
}

.cartWrapper .couponTotalWrapper{
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5rem;
}

.cartWrapper .couponTotalWrapper .couponWrapper{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cartWrapper .couponTotalWrapper .couponWrapper input{
    width: 300px;
    height: 50px;
    padding-left: 25px;
    border: 2px solid #848484;
    border-radius: 5px;
}
.cartWrapper .couponTotalWrapper .couponWrapper button span{
    position: relative;
    z-index: 1;
}
.cartWrapper .totalWrapper button,
.cartWrapper .couponTotalWrapper .couponWrapper button{
    border: none;
    color: white;
    font-weight: 500;
    background-color: #db4444;  
    width: 225px;
    height: 50px;
    border-radius: 5px;
    transition: all ease-in-out 0.3s;
}

.cartWrapper .totalWrapper button:hover,
.cartWrapper .couponTotalWrapper .couponWrapper button:hover{
    transform: scale(1.04);
}


.cartWrapper .totalWrapper{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
    border: 2px solid #242424;
    width: 450px;
    height: 330px;
    padding: 30px;
}

.cartWrapper .totalWrapper h4{
    font-weight: 600;
    margin-bottom: 2rem;
}   
.cartWrapper .totalWrapper .totalItem{
    display: flex;
    justify-content: space-between;
}

.cartWrapper .totalWrapper .divider{
    width: 100%;
    /* background-color: #999999; */
    /* height: 2px; */
    border: 1px solid #999999;
}

.cartWrapper .totalWrapper button{
    margin: 0 auto;
}   





/* Media queries */

@media only screen and (max-width : 1200px){
    .cartWrapper .couponTotalWrapper {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    
    .cartWrapper .couponTotalWrapper .couponWrapper button{
        width: 300px;
    }
}



@media only screen and (max-width : 992px){
    .cartWrapper .scrollerWrapper{
        overflow-x: auto;
    }
    .cartWrapper .scrollerWrapper::-webkit-scrollbar {
        height: 8px;
    }
    .cartWrapper .scrollerWrapper::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 4px;
    }
    .cartWrapper .couponTotalWrapper .couponWrapper{
        flex-direction: column;
        gap: 1rem;
    }
    .cartWrapper .couponTotalWrapper .totalWrapper{
        width: 70vw;
    }
    .cartWrapper .couponTotalWrapper .couponWrapper button{
        width: 48vw;
    }
    .cartWrapper .couponTotalWrapper .couponWrapper input{
        width: 48vw;
    }
    
}

@media only screen and (max-width : 576px){
    .cartWrapper .cartBtns{
        flex-direction: column;
        gap: 1rem;
    }

    .cartWrapper .cartBtns button#return{
        align-self: flex-start;
    }

    .cartWrapper .cartBtns button#update{
        align-self: flex-end;
    }

    .cartWrapper .couponTotalWrapper button{
        width: 50vw;
    }

    
}