<app-navbar></app-navbar>

<div class="cartWrapper container-lg">

    <div class="location">
        <p><span>Home &nbsp; / &nbsp; </span> Cart</p>
    </div>

    <div class="scrollerWrapper">

        <div class="headers">
            <p class="col-product">Product</p>
            <p class="col-price">Price</p>
            <p class="col-quantity">Quantity</p>
            <p class="col-subtotal">Subtotal</p>
        </div>

        <div class="procuctsContainer" *ngFor="let product of cartProducts">

            <div class="product">

                <div class="productImgTitle col-product">
                    <img [src]="product.img" alt="" width="75px">
                    <h6>{{product.title}}</h6>
                </div>

                <p class="price col-price">${{product.price}}</p>

                <div class="quantity col-quantity">
                    <div class="quantityWrapper">
                        <p id="prodQuantity">{{product.quantity}}</p>
                        <div class="quantityArrows">
                            <i class="fa-solid fa-angle-up" style="color: black;"
                                (click)="increaseQuantity(product)"></i>
                            <i class="fa-solid fa-angle-down" style="color: black;"
                                (click)="decreaseQuantity(product)"></i>
                        </div>
                    </div>

                </div>

                <p class="subtotal col-subtotal">${{subtotalCalc(product.quantity , product.price)}}</p>

            </div>

        </div>
    </div>

    <div class="cartBtns">
        <button id="return"><span>Return To Shop</span></button>
        <button id="update"><span>Update Cart</span></button>
    </div>

    <div class="couponTotalWrapper">

        <div class="couponWrapper">
            <input type="text" placeholder="Coupon Code">
            <button><span>Apply Coupon</span></button>
        </div>

        <div class="totalWrapper">
            <h4>Cart Total</h4>

            <div>
                <p>Subtotal:</p>
                <p></p>
            </div>

            <div>
                <p>Shipping:</p>
                <p></p>
            </div>

            <div>
                <p>Total:</p>
                <p></p>
            </div>

            <button>Proceed to checkout</button>
        </div>
    </div>

</div>


<app-footer></app-footer>