/* Generals */

.col-product{ 
    flex: 0.9; 
}
.col-price{ 
    flex: 1; 
}
.col-quantity{ 
    flex: 1; 
}
.col-subtotal{
    flex: 1; 
}

.headers :not(.col-product){
    display: flex;
    justify-content: center;
}

.procuctsContainer :not(.col-product){
    display: flex;
    justify-content: center;
}


.cartWrapper{
    margin-top:5rem;
    margin-bottom: 5rem;
}

.cartWrapper .location p span{
    color: #b9b9b9;
}

.cartWrapper .headers p{
    font-weight: 500;
    color: #333;
    text-align: center;
    margin: 0;
}

.cartWrapper .headers{
    margin-top: 5rem;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    
    /* display: grid;
    grid-template-columns: 2.5fr  1fr  1fr  1fr;
    gap: 18rem; 
    align-items: center; */

    padding: 20px 35px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    min-width: 900px;
}

.cartWrapper .procuctsContainer .product p,
.cartWrapper .procuctsContainer .product h6{
    margin: 0;
    text-align: center;
}    

.cartWrapper .procuctsContainer .product{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* display: grid;
    grid-template-columns: 2.5fr  1fr  1fr  1fr;
    gap: 18rem;
    align-items: center; */
    min-width: 900px;
    margin-top: 2rem;
    padding: 20px 35px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.cartWrapper .procuctsContainer .product .productImgTitle{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 1rem;
    
}

.cartWrapper .procuctsContainer .product .col-quantity .quantityWrapper{
    padding: 10px;
    border: 2px #999999 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 4px;
}
.cartWrapper .procuctsContainer .product .col-quantity .quantityArrows{
    display: flex;
    flex-direction: column;
    /* gap:-10px; */
}
.cartWrapper .procuctsContainer .product .col-quantity .quantityArrows i{
    font-size: 12px;
    cursor: pointer;
}




/* Media queries */

@media only screen and (max-width : 992px){
   .cartWrapper .scrollerWrapper{
       overflow-x: auto;
    }
    .cartWrapper .scrollerWrapper::-webkit-scrollbar {
        height: 8px;
    }
    .cartWrapper .scrollerWrapper::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 4px;
    }
}