.signUpWrapper {
    margin-top: 5rem;
    margin-bottom: 7rem;
    display: flex;
    /* justify-content: flex-start; */
    /* gap: 10rem; */
    justify-content: space-evenly;
    align-items: center;
    margin-right: 5rem;
}
.signUpWrapper .imgWrapper img{
    height: 600px;
}
.signUpWrapper .formWrapper{
    /* margin-right: 5rem; */
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    /* width: 25vw; */
}
.signUpWrapper .formWrapper h1{
    letter-spacing: 1px;
    font-weight: 700;
}


.signUpWrapper .formWrapper form{
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    margin-bottom: 1rem;
    margin-top: -1rem;
}

.signUpWrapper .formWrapper form .passwordWrapper{
    position: relative;
}
.signUpWrapper .formWrapper form .passwordWrapper input{
    width: 100%;
}
.signUpWrapper .formWrapper form .passwordWrapper i{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.signUpWrapper .formWrapper form .passwordWrapper i:active{
    transform: scale(0.95);
    opacity: 80%;
}

.signUpWrapper .formWrapper form input{
    border: none;
    border-bottom: #cfcfcf 2px solid;
    transition: all ease-in-out 0.3s;
}

.signUpWrapper .formWrapper form input::placeholder{
    font-size: 12px;
    opacity: 80%;
}


.signUpWrapper .formWrapper button.createAccBtn{
    border: none;
    background-color: #db4444;
    color: white;
}
.signUpWrapper .formWrapper button.googleBtn{
    border: #d4d4d4 2px solid;
    background-color: white ;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
}
.signUpWrapper .formWrapper button.googleBtn,
.signUpWrapper .formWrapper button.createAccBtn{
    padding: 0.7rem 3rem;
    font-size: 16px;
    border-radius: 3px;
    transition: all ease-in-out 0.3s;
}

.signUpWrapper .formWrapper button.googleBtn:hover,
.signUpWrapper .formWrapper button.createAccBtn:hover{
    transform: scale(1.04);
}
.signUpWrapper .formWrapper p#alreadyHaveAcc{
    text-align: center;
    font-size: 16px;
    opacity: 80%;
}
.signUpWrapper .formWrapper p#alreadyHaveAcc span{
    margin-left: 0.5rem;
    border-bottom: #d4d4d4 2px solid;
    padding-bottom: 0.25rem;
    cursor: pointer;
}

.signUpWrapper .formWrapper form input:focus{
    background-color: #f6f6f6;
    padding: 0.4rem;
    outline: none;
}

.signUpWrapper .formWrapper form .passwordWrapper:focus-within i{
    top: 13px;
}

.signUpWrapper .formWrapper form p.errors{
    font-size: 12px;
    color: darkred;
    margin-bottom: 10px;
    margin-top: 5px;
    visibility: hidden;
    max-width: 30vw;
    text-align: left;
}

.signUpWrapper .formWrapper form p.visible-error{
    visibility: visible;
}

.signUpWrapper .formWrapper form .buttonsWrapper p,
.signUpWrapper .formWrapper form .buttonsWrapper button{
    width: 100%;
}

.signUpWrapper .formWrapper form .buttonsWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
}






/* Media query */

@media only screen and (max-width:1200px) {
    .signUpWrapper {
        justify-content: flex-start;
        gap: 5rem;
        margin-right: 0;
    }
    
    .signUpWrapper .imgWrapper img {
        height: auto;
        width: 500px;
    }
    
}

@media only screen and (max-width:992px) {
    .signUpWrapper .imgWrapper img {
        height: auto;
        width: 450px;
    }
    .signUpWrapper .formWrapper h1{
        font-size: 28px;
    }
    .signUpWrapper .formWrapper{
        gap: 0.6rem;
    }
    .signUpWrapper .formWrapper button.googleBtn,
    .signUpWrapper .formWrapper button.createAccBtn{
        padding: 0.5rem 2rem;
        font-size: 14px;
    }
    .signUpWrapper {
        gap: 3rem;
    }
    
}
@media only screen and (max-width:768px) {
    .signUpWrapper{
        flex-direction: column;
        margin-top: 1rem;
    }

    .signUpWrapper .imgWrapper img{
        width: 100vw;
        height: 280px;
        object-fit: cover;
        border-radius: 5px;
    }

    .signUpWrapper .formWrapper{
        width: 90vw;
        padding: 2rem ;
    }
    .signUpWrapper .formWrapper h1,
    .signUpWrapper .formWrapper p{
        text-align: center;
    }
}