<app-navbar></app-navbar>

<div class="signUpWrapper">

    <div class="imgWrapper">
        <img src="/assets/images/login and signup/67b2c7d6-0137-4420-bbe2-c2d2c844dc4a.jpg" alt="">
    </div>

    <div class="formWrapper ">
        <h1>Create an account</h1>
        <p>Enter your details below</p>
        <form action="">
            <input type="text" name="" id="" placeholder="Name">
            <input type="text" name="" id="" placeholder="Email or Phone Number">
            <input type="password" name="" id="" placeholder="Password">
        </form>
        <button>Create Account</button>
        <button>Sign up with Google</button>
        <p>Already have account ? <span>Log in</span></p>
    </div>
</div>

<app-footer></app-footer>