
.productsWrapper .allFiltersWrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.productsWrapper .header h1{
    font-size: 28px;
    font-weight: 600;
    /* margin-bottom: 1rem; */
    color: #db4444;
    text-align: center;
}

.productsWrapper .header p{
    font-size: 16px;
    font-weight: 400;
    color: #7a7a7a;
    text-align: center;
    margin-bottom: 2rem;
}

input[type="checkbox"],
input[type="radio"] {
  accent-color: #db4444;
}

.productsWrapper{
    margin-top: 2rem;
}

.offcanvas {
    border-left: 4px solid #db4444;
}


.offCanvas .offcanvas-body{
    background-color: #f9fafb;
    padding: 1.5rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.offCanvas .btn-close{
    filter: grayscale(1);
    opacity: 0.7;
}

.offCanvas .btn-close:hover {
    opacity: 1;
}


.offcanvas-header {
    background-color: white;
    border-bottom: 1px solid #eee;
}

.offcanvas-title {
    color: #db4444;
    font-weight: 600;
}

.offCanvas .offcanvas-body,
.filters{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 3rem;
}

.offCanvas .offcanvas-body .categories,
.offCanvas .offcanvas-body .rating,
.offCanvas .offcanvas-body .price,
.offCanvas .offcanvas-body .help,
.filters .help,
.filters .rating,
.filters .price,
.filters .categories{
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.offCanvas .offcanvas-body h4,
.filters h4{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #333;
    border-left: 3px solid #db4444;
    padding-left: 8px;
}


.offCanvas .offcanvas-body .rating div,
.offCanvas .offcanvas-body .categories div,
.filters .rating div,
.filters .categories div{
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    gap: 0.5rem;
}

.offCanvas .offcanvas-body .help p,
.offCanvas .offcanvas-body .price span,
.offCanvas .offcanvas-body .categories div label,
.offCanvas .offcanvas-body .rating div label,
.filters .help p,
.filters .price span,
.filters .categories div label,
.filters .rating div label{
    font-size: 14px;
    opacity: 0.8;
    font-weight: 400;
    cursor: pointer;
}

.offCanvas .offcanvas-body .rating input,
.offCanvas .offcanvas-body .categories input,
.filters .rating input,
.filters .categories input{
    width: 16px;
    height: 16px;
}

.offCanvas .offcanvas-body .price .rangeWrapper input,
.filters .price .rangeWrapper input{
    width: 30%;
    padding: 0.2rem 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 0.5rem;
    font-size: 14px;
    color: #7a7a7a;
    font-weight: 500;
}

.filters .price .rangeWrapper input::-webkit-inner-spin-button,
.filters .price .rangeWrapper input::-webkit-outer-spin-button,
.offCanvas .offcanvas-body .price .rangeWrapper input::-webkit-inner-spin-button,
.offCanvas .offcanvas-body .price .rangeWrapper input::-webkit-outer-spin-button {
    display: block;
    opacity: 1;
}

.filters .price span,
.offCanvas .offcanvas-body .price span{
    margin: 0 0.7rem;
}

.filters .price .rangeInput,
.offCanvas .offcanvas-body .price .rangeInput{
    position: relative;
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

.filters .price .rangeInput .sliderTrack,
.offCanvas .offcanvas-body .price .rangeInput .sliderTrack{
    position: absolute;
    width: 100%;
    height: 5px;
    background: #ccc;
    border-radius: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.filters .price .rangeInput .sliderRange,
.offCanvas .offcanvas-body .price .rangeInput .sliderRange{
    position: absolute;
    height: 5px;
    background: #db4444;
    border-radius: 5px;
    top: 50%;
    transform: translateY(-50%);
}


.offCanvas .offcanvas-body .price .rangeInput input[type="range"],
.filters .price .rangeInput input[type="range"]{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
}

.filters .price .rangeInput input::-webkit-slider-runnable-track,
.offCanvas .offcanvas-body .price .rangeInput input::-webkit-slider-runnable-track{
    height: 4px;
    background: transparent;
}

.filters .price .rangeInput input[type="range"]::-webkit-slider-thumb,
.offCanvas .offcanvas-body .price .rangeInput input[type="range"]::-webkit-slider-thumb{
    pointer-events: auto;
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    background: #db4444;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 2;
    bottom: 5px;
}

.filters .price .rangeInput input[type="range"]::-webkit-slider-runnable-track,
.offCanvas .offcanvas-body .price .rangeInput input[type="range"]::-webkit-slider-runnable-track{
    background: transparent;
    height: 5px;
}

.filters .price .rangeInput input[type="range"]::-webkit-slider-thumb:hover,
.offCanvas .offcanvas-body .price .rangeInput input[type="range"]::-webkit-slider-thumb:hover{
    transform: scale(1.2);
}

.offCanvas .offcanvas-body .rating div label,
.filters .rating div label{
    letter-spacing: 1px;
}

.filters .help,
.offCanvas .offcanvas-body .help{
    background-color: #f9fafb;
    border: none;
}

.filters .help p,
.offCanvas .offcanvas-body .help p{
    margin-top: -0.5rem;
    cursor: default;
}

.offCanvas .offcanvas-body .help button,
.offCanvas button#filtersBtn,
.filters .help button{
    border: none;
    color: white;
    font-weight: 500;
    background-color: #db4444;  
    width: 130px;
    height: 40px;
    border-radius: 5px;
    transition: all ease-in-out 0.3s;
    font-size: 14px;
}

.offCanvas .offcanvas-body .help button:hover,
.offCanvas button#filtersBtn:hover,
.filters .help button:hover{
   transform: scale(1.04); 
}

.offCanvas{
    margin-bottom: 3rem;
}





/* Media queries */
@media only screen and (max-width: 768px) {
    .productsWrapper .header h1{
        font-size: 24px;
        text-align: left;
    }
    
    .productsWrapper .header  p{
        font-size: 14px;
        text-align: left;
        max-width: 75%;
    }
    
    .productsWrapper .allFiltersWrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    
   .productsWrapper .smallFilterHeaderWrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
   }
    
    
}

@media only screen and (max-width: 576px){
    .productsWrapper .product {
        max-width: 300px;
    }
    
}