<div class="productsWrapper container row">

    <div class="filters col-3">

        <div class="categories">
            <h4>Categories</h4>
            <div class="electronics">
                <input type="checkbox" id="electronics">
                <label for="electronics">Electronics</label>
            </div>

            <div class="clothing">
                <input type="checkbox" id="clothing">
                <label for="clothing">Clothing</label>
            </div>

            <div class="homeAppliances">
                <input type="checkbox" id="homeAppliances">
                <label for="homeAppliances">Home Appliances</label>
            </div>

            <div class="furniture">
                <input type="checkbox" id="furniture">
                <label for="furniture">Furniture</label>
            </div>

        </div>

        <div class="price">
            <h4>Price Range</h4>

            <div class="rangeWrapper">
                <input type="number" id="minPrice" name="minPrice" (click)="priceRangeChange('minPrice')" min="0"
                    max="1000">

                <span>to</span>

                <input type="number" id="maxPrice" name="maxPrice" (select)="priceRangeChange('maxPrice')" min="0"
                    max="1000">
            </div>

            <div class="rangeInput">
                <input type="range" name="" [id]="priceRange" min="0" max="1000">
            </div>
        </div>

    </div>

    <div class="products col-9">
        <div class="row">
            <div class="col-3" *ngFor="let product of products">
                <app-product-card [product]="product"></app-product-card>
            </div>
        </div>
    </div>

</div>