/* Hero section */

.hero{
    display: flex;
}

.hero aside {
    width: 16vw;
}

.hero aside ul li{
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}
.hero aside ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 0;
    padding-right: 5rem;
    border-right: 2px solid #e0e0e0;
}
.hero aside ul li i{
    font-size: 12px;
    /* margin-left: 2rem; */
    position: absolute;
    right:-60px ;
    top:5px;
}

.imgCarousel{
    padding: 2rem 0 0 2rem;
}

.imgCarousel .carousel-indicators{
    bottom: -5px;
}

.imgCarousel .carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black; /* inactive color */
}

.imgCarousel .carousel-indicators .active {
  background-color: #000; /* active (filled) color */
}
