/* Generals */

.splitter p{
    border-bottom: 2px solid #e0e0e0;
}



/* Hero section */


.hero{
    display: flex;
}

.hero aside {
    width: 20%;
}

.hero aside ul li{
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}
.hero aside ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 0;
    padding-right: 5rem;
    border-right: 2px solid #e0e0e0;
}
.hero aside ul li i{
    font-size: 12px;
    /* margin-left: 2rem; */
    position: absolute;
    right:-60px ;
    top:5px;
}

.imgCarousel{
    padding: 2rem 0 0 2rem;

}

.imgCarousel .carousel-indicators{
    bottom: -5px;
}

.imgCarousel .carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black; 
}

.imgCarousel .carousel-indicators .active {
  background-color: #000; 
}


.hero .smallAside  button:first-child{
    color: white;
    background-color: black;
    height: 3vh;
    width: 85px;
    font-size: 12px;
    transform: rotate(270deg);
    padding:0;
}


.hero .smallAside  {
    z-index: 100;
    top: 15rem;
    position: absolute; 
    left: -35px; 
    transition: 0.3s; /* Add transition on hover */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

.hero .smallAside:hover {
    left: -30px;
    height: 50px;
}



.hero .smallAside .offcanvas-body ul li{
    margin-bottom: 5px;
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    /* border-bottom:0.1px solid black ; */
    padding-bottom: 10px;
    letter-spacing: 3px;
    font-weight: 700;
   

}
.hero .smallAside .offcanvas-body ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 0;
    /* padding-right: 5rem; */
}
.hero .smallAside .offcanvas {
    width:31vw;
    
}


/* Flash sales section */

.flashSales ,
.bestSelling{
    margin-top: 7rem;
    margin-bottom: 2rem;
}


.bestSelling .container .dateWrapper,
.categories .container .categoriesWrapper,
.flashSales .container .dateWrapper{
    display: flex;
    align-items: center;
}

.bestSelling .container .dateWrapper .dateShape,
.categories .container .categoriesWrapper .categoriesShape,
.flashSales .container .dateWrapper .dateShape{
    height: 35px;
    width: 15px;
    background-color: #db4444;
    border-radius: 4px;
    
}
   
.bestSelling .container .dateWrapper p#date,
.categories .container .categoriesWrapper p#categories,
.flashSales .container .dateWrapper p#date{
    color: #db4444;
    font-size: 14px;
    padding-left: 15px;
    font-weight: 700;
    
}

.flashSales .flashTimer {
    display: flex;
    gap: 5rem;
    align-items: center;
}

.bestSelling .bestSellingHeader h3,
.categories .categoriesHeader h3,
.flashSales .flashTimer h3{
    font-weight: 700;
    letter-spacing: 1px;
}

.flashSales .flashTimer .time {
    display: flex;
    flex-direction:column;
    align-items: center;

}

.flashSales .flashTimer .time p#timeInSeconds{
    font-size: 24px;
    font-weight: 700;
    word-spacing: 8px;
    text-align: center;
    margin-bottom: 0;
}
.flashSales .flashTimer .time p#timeInSeconds span{
    color: #db4444;
}


.flashSales .flashTimer .time p#timeSpecifications{
    /* position: absolute; */
    font-size: 10px;
    /* margin-bottom: -10px; */
    word-spacing: 24px;
    font-weight: 700;
    margin-bottom: 0px;

}

.bestSelling .container .timerArrowsWrapper,
.categories .container .categoryArrowsWrapper,
.flashSales .container .timerArrowsWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bestSelling .container .timerArrowsWrapper .arrows,
.categories .container .categoryArrowsWrapper .arrows,
.flashSales .container .timerArrowsWrapper .arrows{
    margin-right: 4rem;
    display: flex;
    gap: 10px;
}

.bestSelling .container .timerArrowsWrapper .arrows button,
.categories .container .categoryArrowsWrapper .arrows button,
.flashSales .container .timerArrowsWrapper .arrows button{
    border: none;
    border-radius:50%;
    padding: 8px 12px;

}


.bestSelling .productCardsWrapper .viewProductsButton button,
.flashSales .productCardsWrapper .viewProductsButton button{
    transition: all 0.2s ease-in-out;
}

.bestSelling .productCardsWrapper .viewProductsButton button:hover,
.flashSales .productCardsWrapper .viewProductsButton button:hover{
    transform: scale(1.04);
}

.bestSelling .productCardsWrapper,
.flashSales .productCardsWrapper{
    margin-top: 2rem;
    /* margin-left: 6.2rem; */
}

.bestSelling .productCardsWrapper .product-container,
.flashSales .productCardsWrapper .product-container{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    flex-direction: row;
    overflow:hidden;
    margin-bottom: 2rem;

  
}

.bestSelling .productCardsWrapper .viewProductsButton,
.flashSales .productCardsWrapper .viewProductsButton{
    display: flex;
    justify-content: center;
    margin-bottom: 1.8rem;
}

.bestSelling .productCardsWrapper button,
.flashSales .productCardsWrapper button{
    border-radius: 5px;
    color: white;
    background-color:#db4444 ;
    padding: 16px 42px;
    border: none;
    font-size: 12px;
}



/* Categories section */

.categories .container{
    margin-top: 4rem;
}
.categories .categoriesBoxesWrapper{
    display: flex;
    gap: 1rem;
    /* justify-content: center; */
    margin-top:2rem ;
    margin-bottom:2rem ;
    overflow: hidden;
}
.categories .categoriesBoxesWrapper .categoryItem{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    min-width: 12rem;
    height: 9rem;
    border: 2px solid #ececec;
    cursor: pointer;
    position: relative;
}

.categories .categoriesBoxesWrapper .categoryItem::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: #db4444;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

/* On hover: fill from bottom to top */
.categories .categoriesBoxesWrapper .categoryItem:hover::before {
  height: 100%;
}

/* .categories .categoriesBoxesWrapper .categoryItem:hover{
    background-color: #db4444;
} */
.categories .categoriesBoxesWrapper .categoryItem:hover p,
.categories .categoriesBoxesWrapper .categoryItem:hover i{
    color: white;
}  

.categories .categoriesBoxesWrapper .categoryItem p{
    font-size: 16px;
    font-weight: 500;

}
.categories .categoriesBoxesWrapper .categoryItem i{
    font-size: 32px;
    margin-top: 1rem;
    color: #000000;
}


/* Best selling section */

.bestSelling{
    margin-bottom: 7rem;
}


/* Jbl section */

.jblWrapper .container{
    display: flex;
    justify-content: center;
    position: relative;
}
/* .jblWrapper .container button{
    position: absolute;
    bottom: 0;
    left: 0;
    right: ;
} */


.jblWrapper .container img{
    width: 80vw;
}






/* Media query */

@media only screen and (max-width:1200px){
    
    .hero aside {
        width: 25%;
    }
    
}

        
        
@media only screen and (max-width:768px){

    .imgCarousel{
        margin-left: -2.5rem;
    }

    
    .hero .smallAside .offcanvas {
        width: 40vw;
    }

    .flashSales .container .timerArrowsWrapper{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
       
    }

    .flashSales .flashTimer {
        flex-direction: column;
        gap: 1rem;
        /* justify-content: center !important; */
      
    }

    .flashSales .container .timerArrowsWrapper .arrows{
        margin-left: 25rem;
    }

    .jblWrapper .container img{
        width: 85vw;
}   
}

@media only screen and (max-width:576px){
    .hero .smallAside .offcanvas {
        width: 80vw;
    }

    .hero .smallAside  button:first-child{
    
        height: 3vh;
        width: 70px;
        font-size: 10px;
       
    }

    .hero .smallAside  {
        left: -30px;
    }

    .hero .smallAside:hover {
        left: -25px;
    }

    .bestSelling .container .timerArrowsWrapper .arrows,
    .flashSales .container .timerArrowsWrapper .arrows{
        margin: 0;
    }
    .bestSelling .container .timerArrowsWrapper,
    .categories .container .categoryArrowsWrapper{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .categories .container .categoryArrowsWrapper .arrows{
        margin-right: 0;
    }

    .jblWrapper .container img{
        width: 90vw;
    }

}