/* Hero section */

.hero{
    display: flex;
}

.hero aside {
    width: 20%;
}

.hero aside ul li{
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}
.hero aside ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 0;
    padding-right: 5rem;
    border-right: 2px solid #e0e0e0;
}
.hero aside ul li i{
    font-size: 12px;
    /* margin-left: 2rem; */
    position: absolute;
    right:-60px ;
    top:5px;
}

.imgCarousel{
    padding: 2rem 0 0 2rem;
}

.imgCarousel .carousel-indicators{
    bottom: -5px;
}

.imgCarousel .carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black; 
}

.imgCarousel .carousel-indicators .active {
  background-color: #000; 
}


.hero .smallAside  button:first-child{
    color: white;
    background-color: black;
    height: 3vh;
    width: 85px;
    font-size: 12px;
    transform: rotate(270deg);
    padding:0;
}


.hero .smallAside  {
    z-index: 100;
    top: 15rem;
    position: absolute; 
    left: -35px; 
    transition: 0.3s; /* Add transition on hover */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

.hero .smallAside:hover {
    left: -30px;
    height: 50px;
}



.hero .smallAside .offcanvas-body ul li{
    margin-bottom: 5px;
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    /* border-bottom:0.1px solid black ; */
    padding-bottom: 10px;
    letter-spacing: 3px;
    font-weight: 700;
   

}
.hero .smallAside .offcanvas-body ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 0;
    /* padding-right: 5rem; */
}
.hero .smallAside .offcanvas {
    width:31vw;
    
}


/* Media query */

@media only screen and (max-width:1200px){
    
    .hero aside {
        width: 25%;
    }
    
}

/* @media only screen and (max-width:992px){
    .hero aside {
        width: 30%;
        }
        
        } */
         
        
        
@media only screen and (max-width:768px){
    
    .hero .smallAside .offcanvas {
        width: 40vw;
    }
}

@media only screen and (max-width:576px){
    .hero .smallAside .offcanvas {
        width: 80vw;
    }

    .hero .smallAside  button:first-child{
    
        height: 3vh;
        width: 70px;
        font-size: 10px;
       
    }

    .hero .smallAside  {
        left: -30px;
    }

    .hero .smallAside:hover {
        left: -25px;
    }

}